<%= form_for(@party) do |f| %>
  <% if @party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@party.errors.count, "error") %> prohibited this party from being saved:</h2>

      <ul>
      <% @party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <% if false %>
      <div class="control-group">
        <%= f.label :host_id %><br>
        <%= f.number_field :host_id, { class: 'form-control' } %>
      </div>
      <% end %>
<!-- ########################################################### 
KEY LEARNING POINT:  Learned how to write def in the model to compose :first and :last into a :fullname to display here:
For more details look into the HOST model.  ALSO:  Figured out the syntax for styling this selector...see class: below
###########################################################  -->
      <% if true %>
      <div class="field">
        <%= f.label :host_id %><br>
        <%= f.collection_select :host_id, Host.all, :id, :fullname, {prompt: "Choose host" }, {class: "form-control"} %>
      </div>
      <% end %>

<!-- ######################  KEEP THIS!!!  ######################## -->
      <% if false %>
      <div class="field">
        <%= f.label :host_id %><br>
        <%= f.collection_select :host_id, Host.all, :id, :last, {prompt: "Choose an email" }, {class: "form-control"} %>
      </div>
      <% end %>
<!-- ############################################################## -->


<br/>
<!-- ########################################################### 
KEY LEARNING POINT:  Learned a HACK to deal with styling this datetime selector
###########################################################  -->
      <div class="field">
        <%= f.label :date %><br>
          <span class="form_element">
            <%= f.datetime_select :date, input_html: { class: "form-control" } %>
          </span>
      </div>
<br/>

      <div class="field">
        <%= f.label :duration %><br>
        <%= f.number_field :duration, { class: 'form-control' } %>
      </div>
<br/>
      <div class="col-sm-3">
        <div class="field">
          <%= f.label :canceled %>
          <%= f.check_box :canceled %>
        </div>
      </div>

      <div class="col-sm-3">
          <div class="field">
            <%= f.label :user_id %>
            <!-- ########################################################### 
            KEY LEARNING POINT:  Learned how to just display text that can't be edited, even though it shows up in the form.###########################################################  -->
            <%= f.object.user_id %>
          </div>
      </div>

    </div>
</div>
<br/>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
