<%= form_for(@party) do |f| %>
  <% if @party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@party.errors.count, "error") %> prohibited this party from being saved:</h2>

      <ul>
      <% @party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <% if false %>
      <div class="control-group">
        <%= f.label :host_id %><br>
        <%= f.number_field :host_id, { class: 'form-control' } %>
      </div>
      <% end %>
      <!-- ######## -->
      <% if true %>
      <div class="field">
        <%= f.label :host_id %><br>
        <%= f.collection_select :host_id, Host.all, :id, :fullname, {prompt: "Choose an email" }, input_html: { class: "btn btn-primary dropdown-toggle" } %>
      </div>
      <% end %>

<!-- ######################  KEEP THIS!!!  ######################## -->
      <% if false %>
      <div class="field">
        <%= f.label :host_id %><br>
        <%= f.collection_select :host_id, Host.all, :id, :last, {promt: "Choose an email" }, input_html: { class: "btn btn-primary dropdown-toggle" } %>
      </div>
      <% end %>
<!-- ############################################################## -->


<br/>

      <div class="field">
        <%= f.label :date %><br>
        <div class="controls">
          <%= f.datetime_select :date, class: "control-label" %>
        </div>
      </div>
<br/>

      <div class="field">
        <%= f.label :duration %><br>
        <%= f.number_field :duration, { class: 'form-control' } %>
      </div>
<br/>

      <div class="field">
        <%= f.label :canceled %><br>
        <%= f.check_box :canceled %>
      </div>
<br/>

      <div class="field">
        <%= f.label :user_id %><br>
        <%= f.text_field :user_id, { class: 'form-control' } %>
      </div>


    </div>
</div>
<br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
