<!-- ############################ -->

<div class="container">
  <!-- ================================== -->
  <div class="row">
    <div class="col-sm-12">
      <h2 class="section-heading wow animated pulse animated">Your parties</h2>
    </div>
  </div>
  
<hr/>
  <!-- ================================== -->
  <div class="row">
    <div class="col-sm-2">
      <strong>First Last (ID)</strong>
    </div>
    <div class="col-sm-2">
      <strong>DateTime</strong>
    </div>
    <div class="col-sm-1">
      <strong>Duration</strong>
    </div>
    <div class="col-sm-1">
      <strong>Canceled?</strong>
    </div>
    <div class="col-sm-2">
      <strong>Artist</strong>
    </div>
    <hr/>
  </div>


  <% @parties.each do |party| %>
  <div class="row">
    <div class="col-sm-2">
      
<!-- ########################################################### 
KEY LEARNING POINT:  Learned how to reach through the associated models to grab the "party.host.first" etc.
###########################################################  -->
      <%= party.host.first %> <%=party.host.last %> (<%= party.host_id %>)
    </div>
    <div class="col-sm-2">
      <%= party.date %>
    </div>
    <div class="col-sm-1">
      <%= party.duration %> hours
    </div>
    <div class="col-sm-1">
      <%= party.canceled %>
    </div>
    <div class="col-sm-2">
      <%= party.user.email %> (<%= party.user_id %>)
    </div>

    <% if user_signed_in? %>
      <div class="col-sm-3">
        <%= link_to 'Show', party, class: "btn btn-sm btn-default" %>
        <%= link_to 'Edit', edit_party_path(party), class: "btn btn-sm btn-default" %>
        <%= link_to 'Destroy', party, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default" %>
      </div>
    <% end %>
  </div>
  <hr/>
  <% end %>

  <br/>

  <!-- ================================== -->
  <% if user_signed_in? %>
    <div class="row">
      <div class="col-sm-12">
        <h5><%= link_to 'New party', new_party_path, class: "btn btn-sm btn-default" %></h5>
      </div>
    </div>
  <% end %>
  <!-- ================================== -->
</div>