<div class="container">
  <!-- ================================== -->
  <div class="row">
    <div class="col-sm-12">
      <h2 class="section-heading wow animated pulse animated">Your Zipcodes</h2>
    </div>
  </div>

<hr/>

  <div class="row">
    <div class="col-sm-2">
      <strong>Zip</strong>
    </div>
    <div class="col-sm-2">
      <strong>Artist</strong>
    </div>
    <div class="col-sm-3">
      <strong></strong>
    </div>
    <hr/>
  </div>

    <% @zipcodes.each do |zipcode| %>
      <div class="row">
        <div class="col-sm-2">
          <%= zipcode.zip %>
        </div>
        <div class="col-sm-2">
          (<%= zipcode.user_id %>)
        </div>
        <% if user_signed_in? %>
          <div class="col-sm-3">
            <%= link_to 'Show', zipcode, class: "btn btn-sm btn-default" %>
            <%= link_to 'Edit', edit_zipcode_path(zipcode), class: "btn btn-sm btn-default" %>
            <%= link_to 'Destroy', zipcode, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default" %>
      </div>
    <% end %>
  </div>
  <hr/>
  <% end %>

<br>
  <% if user_signed_in? %>
    <div class="row">
      <div class="col-sm-12">
        <h5><%= link_to 'New Zipcode', new_zipcode_path, class: "btn btn-sm btn-default" %></h5>
      </div>
    </div>
  <% end %>
</div>
