<div class="container">
  <!-- ================================== -->
  <div class="row">
    <div class="col-sm-12">
      <h2 class="section-heading wow animated pulse animated">Your Zipcodes</h2>
    </div>
  </div>



  <!-- ================================== -->
  <%= form_tag(zipcodes_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="input-append">
      <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search Zipcodes" %>
      <!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
           of using a Rails form helper -->
      <button class="btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
    </div>
  <% end %>

<% @zipcodes.each do |zipcode| %>
  <div class="article">
    <h5 class="article-title"><%= link_to zipcode.zip, zipcode %></h5>
  </div>
<% end %>
  <!-- ================================== -->


<hr/>

  <div class="row">
    <div class="col-sm-2">
      <strong>Zip</strong>
    </div>
    <div class="col-sm-2">
      <strong>Artist</strong>
    </div>
    <div class="col-sm-1">
      <strong>Visible</strong>
    </div>
    <div class="col-sm-3">
      <strong></strong>
    </div>
    <hr/>
  </div>

    <% @zipcodes.each do |zipcode| %>
      <div class="row">
        <div class="col-sm-2">
          <%= zipcode.zip %>
        </div>
        <div class="col-sm-2">
          <% if false %>
            <%= zipcode.artist.first %> <%= zipcode.artist.last %> 
          <% end %>
          (<%= zipcode.user_id %>)
        </div>
        <div class="col-sm-1">
          <%= zipcode.visible %>
        </div>
        <% if user_signed_in? %>
          <div class="col-sm-3">
            <%= link_to 'Show', zipcode, class: "btn btn-sm btn-default" %>
            <%= link_to 'Edit', edit_zipcode_path(zipcode), class: "btn btn-sm btn-default" %>
            <%= link_to 'Destroy', zipcode, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default" %>
      </div>
    <% end %>
  </div>
  <hr/>
  <% end %>

<br>
  <% if user_signed_in? %>
    <div class="row">
      <div class="col-sm-12">
        <h5><%= link_to 'New Zipcode', new_zipcode_path, class: "btn btn-sm btn-default" %></h5>
      </div>
    </div>
  <% end %>
</div>
