<div class="container">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <% if false %>
        <%= f.fields_for :artist do |artist_form| %>
          <h5><%= artist_form.label :first %></h5>
          <p><%= artist_form.text_field :first, class: 'form-control' %></p>

          <h5><%= artist_form.label :last %></h5>
          <p><%= artist_form.text_field :last, class: 'form-control' %></p>
        <% end %>
    <% end %>

    <div class="actions">




      <% if admin_signed_in? %>
      <% end %>

        <%= f.submit "Sign up", class: "btn btn-sm btn-default"  %>

    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
