<%= form_for(@artist) do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel-body">
    <div class="field">
      <%= f.label :first %><br>
      <%= f.text_field :first, { class: 'form-control' } %>
    </div>
    <div class="field">
      <%= f.label :last %><br>
      <%= f.text_field :last, { class: 'form-control' } %>
    </div>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, { class: 'form-control' } %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email, { class: 'form-control' } %>
    </div>
    <div class="field">
      <%= f.label :address %><br>
      <%= f.text_field :address, { class: 'form-control' } %>
    </div>
    <div class="field">
      <%= f.label :city %><br>
      <%= f.text_field :city, { class: 'form-control' } %>
    </div>
    <div class="field">
      <%= f.label :state %><br>
      <%= f.text_field :state, { class: 'form-control' } %>
    </div>
    <div class="field">
      <%= f.label :zipcode %><br>
      <%= f.number_field :zipcode, { class: 'form-control' } %>
    </div>
    <div class="field">
      <%= f.label :bday %><br>
      <%= f.number_field :bday, { class: 'form-control' } %>
    </div>
    <div class="field">
      <%= f.label :bmonth %><br>
      <%= f.number_field :bmonth, { class: 'form-control' } %>
    </div>
    <div class="field">
      <%= f.label :byear %><br>
      <%= f.number_field :byear, { class: 'form-control' } %>
    </div>
    <div class="field">
      <%= f.label :homephone %><br>
      <%= f.text_field :homephone, { class: 'form-control' } %>
    </div>
    <div class="field">
      <%= f.label :cellphone %><br>
      <%= f.text_field :cellphone, { class: 'form-control' } %>
    </div>
    <div class="field">
      <%= f.label :officephone %><br>
      <%= f.text_field :officephone, { class: 'form-control' } %>
    </div>
    <div class="field">
      <%= f.label :zipareas %><br>
      <%= f.number_field :zipareas, { class: 'form-control' } %>
    </div>
    <div class="field">
      <%= f.label :contract_day %><br>
      <%= f.number_field :contract_day, { class: 'form-control' } %>
    </div>
    <div class="field">
      <%= f.label :contract_month %><br>
      <%= f.number_field :contract_month, { class: 'form-control' } %>
    </div>
    <div class="field">
      <%= f.label :contract_year %><br>
      <%= f.number_field :contract_year, { class: 'form-control' } %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
