<div class="container">
  <!-- ================================== -->
  <div class="row">
    <div class="col-sm-12">
      <h2 class="section-heading wow animated pulse animated">Listing Artists</h2>
    </div>
    <h3 class="section-subheading text-muted wow animated pulse animated">
      Find an artist near you.  Email them to set up a gallery.  
    </h3>
    <%= link_to "Find Artist by Zipcode", {:controller => 'zipcodes', :action => 'index'}, class: "btn btn-sm btn-default" %>
    <hr/>
  </div>

  <!-- ================================== -->
  <% @users.each do |artist| %>
  <div class="row">
    <div class="col-sm-2">
      <strong><%= artist.first %> <%= artist.last %></strong>
    </div>
    <div class="col-sm-1">
      <%= mail_to artist.email, class: "fa fa-envelope  wow animated zoomIn animation-delay-5" do %>
      <% end %>
    </div>
    <div class="col-sm-2">
      <%= artist.city %>, <%= artist.state %>
    </div>
    <div class="col-sm-3">
      <%= artist.email %>
      <!-- <%= artist.id %> -->
    </div>
    <% if user_signed_in? %>
      <% if current_user.try(:admin?) || current_user.email == artist.email %>
        <div class="col-sm-3">
          <%= link_to 'Show', artist, class: "btn btn-sm btn-default" %>
          <%= link_to 'Edit', edit_artist_path(artist), class: "btn btn-sm btn-default" %>
          <% if current_user.try(:admin?) %>
            <%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <hr/>
  <% end %>
  <br/>

  <!-- ================================== -->
  <% if current_user.try(:admin?) %>
    <div class="row">
      <div class="col-sm-12">
        <h5><%= link_to 'New Artist', new_artist_path, class: "btn btn-sm btn-default" %></h5>
      </div>
    </div>
  <% end %>
  <!-- ================================== -->
</div>