<div class="container">
  	<div class="row">
    	<div class="col-sm-6"> 
			<p>
			  <strong>Font awesome:</strong>
			  <%= @what.font_awesome %>
			</p>

			<p>
			  <strong>Title:</strong>
			  <%= @what.title %>
			</p>

			<p>
			  <strong>Body:</strong>
			  <%= @what.body %>
			</p>

			<%= link_to 'Edit', edit_what_path(@what), class: "btn btn-default btn-sm" %>
			<%= link_to 'Back', whats_path, class: "btn btn-default btn-sm" %>
		</div>
	</div>
</div>
<br/>