<%= form_for(@how) do |f| %>
  <% if @how.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@how.errors.count, "error") %> prohibited this how from being saved:</h2>

      <ul>
      <% @how.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">  
      <div class="field">
        <%= f.label :symbol %><br>
        <%= f.text_field :symbol, { class: 'form-control' } %>
      </div>
  
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title, { class: 'form-control' } %>
      </div>
   
      <div class="field">
        <%= f.label :body %><br>
        <%= f.text_area :body, { class: 'form-control' } %>
      </div>


    <br/>

    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<% end %>

