<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-6">   
      <div class="field">
        <%= f.label :intro %><br>
        <%= f.text_field :intro, { class: 'form-control' } %>
      </div>
   
      <div class="field">
        <%= f.label :body %><br>
        <%= f.text_area :body, { class: 'form-control' } %>
      </div>
  
      <div class="field">
        <%= f.label :signature %><br>
        <%= f.text_field :signature, { class: 'form-control' } %>
      </div>
   
      <div class="field">
        <%= f.label :status %><br>
        <%= f.text_field :status, { class: 'form-control' } %>
      </div>
  
      <div class="field">
        <%= f.label :company %><br>
        <%= f.text_field :company, { class: 'form-control' } %>
      </div>

      <br/>

      <div class="actions">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
</div>



<% end %>
