<!-- About Section -->
<section id="about">
  <div class="container">

    <!-- ################# -->

    <div class="row">
      <div class="col-sm-12 text-center">
          <h2 class="section-heading wow animated pulse animated">Our Story</h2><hr />
          <h3 class="section-subheading text-muted wow animated pulse animated">
          We are now training and contracting artists all over the United States who are doing parties in their towns.  
          </h3>
      </div>
    </div>

    <!-- ################# -->

    <div class="row">
      <div class="col-sm-4">
        <div class="about-image">
          <!-- <img class="img-circle img-responsive" src="/assets/jennifer_small.jpg" alt=""> -->
          <img class="img-circle img-responsive" src="http://www.rsoguitar.com/heroku_images/jennifer_small.jpg" alt="">
        </div>
      </div>

      <div class="col-sm-8">
        <div class="about-panel">

          <div class="about-heading">
            <h4 class="subheading">From the founder - </h4>
          </div>

          <div class="about-body">
            <p class="text-muted">
              <% @stories.each do |story| %>
                <%= story.intro %></br>
                <%= story.body %></br>
                <%= story.signature %></br>
                <%= story.status %></br>
                <%= story.company %></br>
                <% if current_user.try(:admin?) %>
                  <strong>Currently logged in as <%= current_user.email %></strong>
                  <p>
                  <%= link_to 'Show', story, class: "btn btn-default btn-sm" %>
                  <%= link_to 'Edit', edit_story_path(story), class: "btn btn-default btn-sm" %>
                  <%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-sm" %>
                  </p>
                <% end %>
              <% end %>
            </p>
            <hr/>
            <p class="text-muted">
              <% if current_user.try(:admin?) %>
                <%= link_to 'New Story', new_story_path, class: "btn btn-default btn-sm" %>
              <% end %>
            </p>

          </div>
        </div>
      </div>
    </div>

    <!-- ################# -->

  </div>

  <div class="col-sm-10">

  </div>                

</section>

