<p id="notice"><%= notice %></p>

<p>
  <strong>Intro:</strong>
  <%= @story.intro %>
</p>

<p>
  <strong>Body:</strong>
  <%= @story.body %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @story.signature %>
</p>

<p>
  <strong>Status:</strong>
  <%= @story.status %>
</p>

<p>
  <strong>Company:</strong>
  <%= @story.company %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
