<br/>
    <div class="container">
        <div class="col-sm-6">
            <%= link_to 'Account', edit_user_registration_path, class: "btn btn-sm btn-default" %>
            
            <%= link_to "Manage Hosts", {:controller => '/hosts', :action => 'index'}, class: "btn btn-sm btn-default" %>
            <%= link_to "Manage Parties", {:controller => '/parties', :action => 'index'}, class: "btn btn-sm btn-default" %>
            <%= link_to "Manage Zipcodes", {:controller => '/zipcodes', :action => 'index'}, class: "btn btn-sm btn-default" %>
        </div>
        <div class="col-sm-4">
            <h5>Welcome <%= current_user.first %> <%= current_user.last %></h5>
        </div>
    </div>
<br/>