<br/>
    <div class="container">
        <% if false %>
        	<% if user_signed_in? && !artist_has_profile? %>
                <%= link_to "Create Profile", {:controller => 'artists', :action => 'new', :id => current_user.id}, class: "btn btn-sm btn-default" %>
        	<% else %>
            <% end %>
        <% end %>
            <%= link_to 'Account', edit_user_registration_path, class: "btn btn-sm btn-default" %>
        	
	        <%= link_to "Manage Hosts", {:controller => '/hosts', :action => 'index'}, class: "btn btn-sm btn-default" %>
	        <%= link_to "Manage Parties", {:controller => '/parties', :action => 'index'}, class: "btn btn-sm btn-default" %>
	        <%= link_to "Manage Zipcodes", {:controller => '/zipcodes', :action => 'index'}, class: "btn btn-sm btn-default" %>
        
        <span>Logged in as: <%= current_user.email %> (<%= current_user.id %>)</span>
    </div>
<br/>